<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>

    <header th:fragment="header">
        <h1 th:text="#{template.title}">Titulo</h1>
    </header>

    <footer th:fragment="footer">
        <div>
            <br/>
            <a th:href="@{/(lang=en)}">EN</a> |
            <a th:href="@{/(lang=es)}">ES</a>
            <span>[[#{template.foot-page}]]<a href="https://www.globalmentoring.com.mx" target="_blank">GlobalMentoring.com.mx</a> </span>
        </div>
    </footer>

</body>
</html>