<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <a th:href="@{/add}">Create User</a>
    <br/>
    <div th:if="${users != null and !users.isEmpty()}">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="user: ${users}">
                <td th:text="${user.name}">Mostrar nombre</td>
                <td th:text="${user.surname}">Mostrar apellido</td>
                <td th:text="${user.email}">Mostrar email</td>
                <td th:text="${user.phone}">Mostrar telefono</td>
                <td><a th:href="@{/edit/} + ${user.id}" th:text="Edit"></a></td>
                <td> <a th:href="@{/delete(id=${user.id})}" th:text="Delete"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${users == null or users.isEmpty()}">
        La lista de personas esta vacia
    </div>
</body>
</html>