<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Data</title>
</head>
<body>
    <header th:replace="layout/template :: header"></header>
    <h2>Person Data</h2>
    <a th:href="@{/}">Return</a>
    <br/>
    <form th:action="@{/save}" method="post" th:object="${user}">
        <input type="hidden" name="id" th:field="*{id}">
        <br/>
        <label >Name</label>
        <input type="text" name="name" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</span>
        <br/>
        <label >Surname</label>
        <input type="text" name="surname" th:field="*{surname}"/>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error surname</span>
        <br/>
        <label >Email</label>
        <input type="text" name="name" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</span>
        <br/>
        <label >Phone</label>
        <input type="tel" name="phone" th:field="*{phone}"/>
        <br/>
            <input type="submit" name="save" value="Save">
    </form>
    <footer th:fragment="footer">
        <p>All rights reserved <a href="https://www.globalmentoring.com.mx" target="_blank">GlobalMentoring.com.mx</a> </p>
    </footer>
</body>
</html>